// Primary Colors
$primary: #3498db; // Blue
$primary-light: #5dade2; // Light Blue
$primary-dark: #21618c; // Dark Blue

// Secondary Colors
$secondary: #e74c3c; // Red
$secondary-light: #f1948a; // Light Red
$secondary-dark: #943126; // Dark Red

// Accent Colors
$accent: #f1c40f; // Yellow
$accent-light: #f7dc6f; // Light Yellow
$accent-dark: #b7950b; // Dark Yellow

// Background colors
$background-color: #003049;
$background-tile-color: #669bbc;
$background-tile-activated-color: #669bbc69;

// Neutral Colors
$white: #ffffff;
$black: #000000;
$gray-light: #f4f4f4;
$gray: #bdc3c7;
$gray-dark: #7f8c8d;

// Utility Colors
$success: #2ecc71; // Green
$warning: #f39c12; // Orange
$error: #e74c3c; // Red
$info: #3498db; // Blue
